{% extends 'index.html' %}
{% block content %}
{% load static %}


<!-- Signup form -->
<!-- Signup form -->
<section class="container-signup forms">
  <div class="form login">
    <div class="form-content">
      <header class="header-title">Sign up</header>
      <form action="{% url 'register' %}" method="POST" class="signup-form">
        {% csrf_token %}


        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}



        <!-- Full name -->
        <div class="field input-field">
          <input type="name" name="name" placeholder="Full Name" class="input">
        </div>


        <!-- Email -->
        <div class="field input-field">
          <input id="formInput#email" type="email" name="email" placeholder="someone@test.com" class="input">
        </div>

        <!-- User name -->
        <div class="field input-field">
          <input id="formInput#name" type="name" name="username" placeholder="@Username" class="input">
        </div>

        <!-- password 1 -->
        <div class="field input-field">
          <input id="formInput#password1" type="password" name="password1" placeholder="Password"
            class="password input">
          <i class='bx bx-hide eye-icon'></i>
        </div>

        <!-- password 2 -->
        <div class="field input-field">
          <input id="formInput#password2" type="password" name="password2" placeholder="Confirm Password"
            class="password input" name="confirmPassword">
          <i class="bx bx-eye"></i>
          <i class='bx bx-hide eye-icon'></i>
        </div>

        <!-- Signup button -->
        <div class="field button-field">
          <button type="submit">Signup</button>
        </div>
      </form>

      <div class="form-link">
        <span>Already have an account?<a href="{% url 'login' %}" class="link signup-link">Login</a></span>
      </div>
    </div>

    <div class="line"></div>

    <div class="media-options">
      <a href="#" class="field google">
        <i class="fab fa-google google-icon"></i>
        <span class="icon-text google-text">Login with Google</span>
      </a>
    </div>

  </div>
</section>

{% endblock %}