<!-- Footer Section -->
<footer>
  <div class="row primary section">
    <div class="column about">
      <h3>Unite on Hive, Connect Now!</h3>
      <p>
        A brand-new social media platform called Hive combines the best elements of all the most popular social media
        sites. You may conduct video chats, shop, publish, like, and share stories while using Hive.
      </p>
      <div class="social">
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/hadi-soufan-b6011919a/" target="_blank"><i class="fab fa-linkedin"></i></a>

        <!-- Medium -->
        <a href="https://medium.com/@hadisoufan" target="_blank"><i class="fab fa-medium"></i></a>

        <!-- Stack overflow -->
        <a href="https://stackoverflow.com/users/20323360/hadi-soufan" target="_blank"><i
            class="fab fa-stack-overflow"></i>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/hadi.a.soufan/" target="_blank"><i class="fab fa-instagram"></i></a>

        <!-- Twitter -->
        <a href="https://twitter.com/hadis0ufan" target="_blank"><i class="fab fa-twitter"></i></a>

        <!-- Hacker rank -->
        <a href="https://www.hackerrank.com/hady_A_soufan" target="_blank"><i class="fab fa-hackerrank"></i>
          </i></a>

        <!-- Whatsapp -->
        <a href="https://api.whatsapp.com/send?phone=+96176740521" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div class="column links">
      <h3>About US</h3>
      <ul>
        <!-- Location -->
        <li>
          <a href="https://www.google.com/maps/search/?api=1&query=33.8938,35.5018" target="_blank"><i
              class="fas fa-map-marker-alt"></i> Beirut,
            Beirut Governorate, Lebanon</a>
        </li>

        <!-- Email -->
        <li>
          <a href="mailto:hady.a.soufan@gmail.com"><i class="fas fa-envelope"></i> Hive Platform</a>
        </li>

        <!-- Phone -->
        <li>
          <a href="tel:+96176740521"><i class="fas fa-phone"></i> +96176740521</a>
        </li>
      </ul>
    </div>
    <div class="column links">
      <h3>Resources</h3>
      <ul>
        <li>
          <a href="#faq">F.A.Q</a>
        </li>
        <li>
          <a href="#cookies-policy">Cookies Policy</a>
        </li>
        <li>
          <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
          <a href="#support">Support</a>
        </li>
      </ul>
    </div>
    <div class="column subscribe">
      <h3>Newsletter</h3>
      <div class="input-group">
        <input type="email" class="input" id="Email" name="Email" placeholder="someone@test.com" autocomplete="off">
        <input class="button--submit" value="Subscribe" type="submit">
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="footer-menu">
      <p>Copyright &copy; 2021 Hive , All Rights Reserved, Powered by Hadi Soufan</p>
    </div>
</footer>