{% load static %}

<!-- nav bar -->
<section class="nav-bar">
  <nav>
    <div class="container">
      <h2 class="logo"><a href="{% url 'hive' %}">Hive</a></h2>
      <div class="search-bar">
        <i class="uil uil-search"></i>
        <input type="search" placeholder="search here">
      </div>
      <div class="create">
        <label class="btn btn-primary show-modal" for="create-post">Create</label>
        <div class="profile-picture">
          <a href="{% url 'profile' %}">
            {% if user.profileImg %}
            <img src="{{ profile.profileImg.url }}" alt="">
            {% else %}
            <img src="{% static 'img/default.png' %}" alt="">
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </nav>
</section>